@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Poppins:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Herr+Von+Muellerhoff&family=Poppins:ital,wght@1,500&display=swap');

@layer components {
  .custom-backdrop {
    @apply backdrop-blur-sm bg-white/25
  }

  .floated-btn {
    @apply pr-2 mr-4 mb-4 shadow-lg mx-auto h-14 w-48 flex items-center justify-center cursor-pointer
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.herr-von {
  font-family: "Agbalumo", cursive;
}